* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', 'Segoe UI', 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-grow: 1;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif !important;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.nav-item .nav-link {
  text-transform: uppercase;
}

select {
  border: 0.05rem solid #777777;
  padding: 0.25rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
}

.app {
  width: 100%;
  height: 100%;
}

.nav {
  justify-content: center;
  padding: 2em;
  padding: 0 0 2em 0;
  background-color: #001233;
}

.nav-pills .nav-item {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.nav-pills .nav-link {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 100em !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #444 !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
}

.tab-content {
  margin-top: 2em;
  margin-bottom: 4em;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2em;
  align-items: center;
  background-color: #001233;
  color: white;
  min-height: 11em;
}

.heading h1 {
  font-size: 3em;
  letter-spacing: 0.05em;
  font-family: 'Comfortaa', sans-serif !important;
  font-weight: 700;
  color: #ffdb4c;
}

/* Fix for iOS bug where it has margin */
.popover-header {
  margin-top: 0;
}

.content-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding-top: 4rem;
}

.content {
  position: absolute;
  width: 100%;
  max-width: 60rem;
  left: 50%;
  max-height: 100%;
  transform: translateX(-50%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  /* WebKit */
  display: none;
}

.full {
  flex: 1;
}

.navbar-space {
  /* This allocates the space from fixed bottom navbar */
  flex: 0 1 8em;
}

.floating-container {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.floating-button {
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem #777777;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.floating-container-center {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
}

.floating-button-large {
  border: none;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem #777777;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.freq-note,
.freq-hz {
  display: block;
}
.freq-note {
  font-size: 24px;
}
.freq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.freq-pointer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.freq-note-label {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}
.freq-octave {
  font-size: 0.6em;
  vertical-align: sub;
}
.freq-surround {
  position: relative;
  overflow: hidden;
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  height: 100%;
}

.setting > *:last-child {
  display: block;
  text-align: right;
  font-size: smaller;
}
.setting > *:first-child {
  display: block;
  text-align: left;
  font-style: italic;
}

.unselectable {
  user-select: none;
}
