.result-container {
  overflow-wrap: break-word;
}

.circled-nbr {
  color: #333;
  border: 2px solid #333;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
  line-height: 1.3em;
}

.created-link {
  color: #20a4f3;
}
