.song-info {
  margin-top: -2em;
  background-color: #faf0ca;
  background-color: #e4e6ec;
  padding: 2em 0 2em 0;
}

.song-info-details {
  padding: 0.5em 0 1em 0;
}

#about-data {
  margin-top: 1em;
}

.btn.btn-start {
  margin-top: 2em;
  border-color: #fff;
  border-width: 0;
  border-radius: 10em;
  background-color: #0466c8;
}

.btn.btn-start:hover {
  background-color: #001233;
  border-color: #fff;
  border-width: 0;
}

.btn.btn-start:active {
  background-color: green;
  border-color: yellow;
}

.btn.btn-start:focus {
  background-color: #001233;
  border-color: yellow;
}

.btn-start-content {
  display: flex;
  align-items: center;
  padding: 0.4em 2em;
}

.btn-start-text {
  font-family: 'Fira Sans';
  font-size: 1.7em;
  margin-right: 0.5em;
  text-transform: uppercase;
}

.btn-lang {
  border: 0;
  background: none;
}
